@font-face {
    font-family: Lota;
    src: url('../fonts/lota.woff') format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Lota;
    src: url('../fonts/lota_semi.woff') format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Lota;
    src: url('../fonts/lota_bold.woff') format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: Naratif;
    src: url('../fonts/naratif.woff') format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Naratif;
    src: url('../fonts/naratif_sbold.woff') format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Naratif;
    src: url('../fonts/naratif_bold.woff') format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: Ohno;
    src: url('../fonts/ohno.woff') format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Ohno;
    src: url('../fonts/ohno_sbold.woff') format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Ohno;
    src: url('../fonts/ohno_bold.woff') format("woff");
    font-weight: bold;
    font-style: normal
}